<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title> editar pacote </title>
</head>

<body>
	<h2> pacote editamento</h2>
	<form th:action="@{/admin/editar/{id}(id=${pacote.id})}" th:object="${pacote}" method="post">
		<div>
			<label for="id"> ID: </label>
			<input type="text" id="id" th:field="*{id}" th:readonly="readonly" />
		</div>
		<div>
			<label for="nome"> Nome: </label>
			<input type="text" id="nome" th:field="*{nome}" />
		</div>
		<div>
			<div>
			<label for="preco"> Preco: </label>
			<input type="text" id="preco" th:field="*{preco}" />
		</div>
		<div>
			<div>
			<label for="duracao">Duracao</label>
			<input type="text" id="duracao" th:field="*{duracao}" />
		</div>
		<div>
			<button type="submit"> Salvar </button>
		</div>
	</form>

</body>

</html>
