<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title> Listagem de clientes </title>
</head>
<body>
	<div>
			<h1>teste read</h1>
			<table>
				<tr th:each="cliente : ${clientes}">
					<td th:text="${cliente.id}"></td>
					<td th:text="${cliente.nome}"></td>
					<td th:text="${cliente.email}"></td>
					<td th:text="${cliente.cpf}"></td>
					<td th:text="${cliente.senha}"></td>
					<td th:text="${cliente.endereco}"></td>
					<td th:text="${cliente.dataNascimento}"></td>
					<td>
				<a th:href="@{/cliente/editar/{id}(id=${cliente.id})}"> Editar </a>
				<a th:href="@{/cliente/deletar/{id}(id=${cliente.id})}"> Excluir </a>
			</td>
				</tr>
			</table>
		</div>
</body>
</html>