<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title> Listagem de clientes </title>
</head>
<body>
	<div>
			<h1>teste read</h1>
			<table>
				<tr th:each="mensagem : ${mensagens}">
					<td th:text="${mensagem.id}"></td>
					<td th:text="${mensagem.nome}"></td>
					<td th:text="${mensagem.email}"></td>
					<td th:text="${mensagem.telefone}"></td>
					<td th:text="${mensagem.msg}"></td>
					<td>
				<a th:href="@{/deletar/{id}(id=${mensagem.id})}"> Excluir </a>
			</td>
				</tr>
			</table>
		</div>
</body>
</html>