<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title> Listagem de pacotes </title>
</head>
<body>
	<div>
			<h1>teste read</h1>
			<table>
				<tr th:each="pedido : ${pedidos}">
					<td th:text="${pedido.id}"></td>
					<td th:text="${pedido.dataViagem}"></td>
					<td th:text="${pedido.dataPedido}"></td>
					<td th:text="${pedido.destinos}"></td>
					<td th:text="${pedido.cliente.id}"></td>
					<td th:text="${pedido.cliente.nome}"></td>
					<td th:text="${pedido.pacote.id}"></td>
					<td th:text="${pedido.pacote.nome}"></td>
					<td th:text="${pedido.duracao}"></td>
					<td>
						<a th:href="@{/pedido/deletar/{id}(id=${pedido.id})}">Excluir</a>
					</td>
				</tr>
			</table>
		</div>
</body>
</html>