<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title> cadastro pacote </title>
</head>

<body>
	<h2> pacote cadastro</h2>
	<form th:action="@{/admin/cadastrar}" th:object="${pacote}" method="get">
		<div>
			<label for="nome"> Nome: </label>
			<input type="text" id="nome" th:field="*{nome}" />
		</div>
		<div>
			<div>
			<label for="duracao"> Duracao: </label>
			<input type="text" id="duraca" th:field="*{duracao}" />
		</div>
		<div>
			<div>
			<label for="preco"> preco: </label>
			<input type="text" id="preco" th:field="*{preco}" />
		</div>
		<div>
			<button type="submit"> Salvar </button>
		</div>
	</form>

</body>

</html>
