<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title> cadastro mensagem</title>
</head>

<body>
	<h2> envie mensagem</h2>
	<form th:action="@{/cadastrar}" th:object="${mensagem}" method="get">
		<div>
			<label for="nome"> Nome: </label>
			<input type="text" id="nome" th:field="*{nome}" />
		</div>
		<div>
			<div>
			<label for="email"> Email: </label>
			<input type="email" id="email" th:field="*{email}" />
		</div>
		<div>
			<div>
			<label for="telefone"> Telefone: </label>
			<input type="text" id="telefone" th:field="*{telefone}" />
		</div>
		<div>
			<div>
			<label for="endereco"> Mensagem: </label>
			<input type="text" id="mensagem" th:field="*{msg}"/>
		</div>
		<div>
			<button type="submit"> Salvar </button>
		</div>
	</form>

</body>

</html>
