<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title> cadastro pedido </title>
</head>

<body>
	<h2> cliente cadastro</h2>
	<form th:action="@{/pedido/cadastrar}" th:object="${pedido}" method="get">
		<div>
			<label for="destinos"> destinos: </label>
			<input type="text" id="destinos" th:field="*{destinos}" />
		</div>
		<div>
			<div>
			<label for="duracao">Duracao: </label>
			<input type="text" id="duracao" th:field="*{duracao}" />
		</div>
		<div>
			<div>
			<label for="dataViagem"> Data viagem: </label>
			<input type="text" id="dataViagem" th:field="*{dataViagem}" />
		</div>
		<div>
			<div>
			<label for="dataPedido"> dataPedido: </label>
			<input type="text" id="dataPedido" th:field="*{dataPedido}" />
		</div>
		<div>
			<div>
			<label for="pacoteId"> pacote id: </label>
			<input type="text" id="pacoteId" th:field="*{pacote}" />
		</div>
		<div>
			<div>
			<label for="clienteId"> cliente id: </label>
			<input type="text" id="clienteId" th:field="*{cliente}" />
		</div>
		<div>
			<button type="submit"> Salvar </button>
		</div>
	</form>

</body>

</html>
